---
const base = import.meta.env.BASE_URL.replace(/\/$/, "");
---

<html>
	<head>
		<meta http-equiv="refresh" content={`0;url=${base}/getting-started`} />
	</head>
	<body>
		<a href={`${base}/getting-started`}>Getting Started</a>
	</body>
</html>
